@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html{
    background-color: #EFF3F5;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: steelblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #445F76;
}